<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{cameraUrl}}" width="286px;" height="180px;" alt="{{cameraName}}">
  <div class="card-body">
    <p class="card-text">
      <p><b>{{stationName}}</b></p>
      <b>Temperature: </b>{{temperature}}&deg; <br />
      <b>Wind Speed: </b>{{windSpeed}} mph <br />
      <b>Wind Gust: </b>{{windGust}} mph
    </p>
  </div>
</div>